.navbar {
  height: 80px;
  background-color: white;
  box-shadow: 1px 7px 12px rgba(0, 0, 0, 0.5);
}

.logo {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 150px;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: calibri;
  text-decoration: underline;
}

footer{
  background-color: #000000;
}
