.navbar {
    height: 80px;
    background-color: white;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 40px;
    width: 150px;
    margin-left: -85px;
}
.directeur-photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 15px;
}
